.text-align-hor {
	text-align: center;			
}		
.outside {			
	position: relative;
	width:200px; 
	height:200px; 
	background-color:green;			
}
.inside {
	position: absolute;
	width: 100px; 
	height: 100px; 
	margin: auto;
	background-color: yellow;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 100px;
}	
